<script>
  $(function(){
      var socket = io.connect();
      socket.on('connect', function(){
      });
      socket.on('cast msg', function(data){
          var logcolor = "black";
          if(data.name=="SYSTEM"){
              logcolor = "blue";
          }

          var date = new Date();
          date.setTime(data.date);

        $('#chatlog').prepend($('<p></p>').
            append($('<div></div>').addClass('name').text(data.name)).css("color",logcolor).
            append($('<div></div>').addClass('message').text(data.message)).css("color",logcolor).
            append($('<div></div>').addClass('date').text(date.toLocaleString())).hide());
        $('#chatlog p:hidden:first').slideDown("slow");
      });
      $('#send-msg').submit(function(){
          var data = {"name"    : $('#name').val(),
                      "message" : $('#message').val()};
          socket.json.emit('post msg', data, function(err_msg){
              if(err_msg){
                  $("#err-msg").text(err_msg);
              } else {
                  $("#err-msg").text("");
              }
          });
          $('#message').val('').focus();
          return false;
      });
      
      $("#chatlog .date").each(function(){
          var date = new Date();
          date.setTime($(this).text());
          $(this).text(date.toLocaleString());
      });
            
});

</script>
<style>
  #chatlog .name {
    width: 100px;
    font-weight: bold;
    display: inline-block;
  }
  #chatlog .message {
    width: 400px;
    display: inline-block;
  }
  #chatlog .date {
    color: gray;
    display: block;
    margin-left: 110px;
    font-size: x-small;
  }
  #send-msg input:focus {
    background-color: #FFFFCC;
  }
  #message {
    width: 300px;
  }
  #err-msg {
    height: 30px;
    color: red;
    font-weight: bold;
  }
</style>
<div>
  <h1>Simple Chat</h1>
  <div id="err-msg"></div>
  <form id="send-msg">
    name:<input type="text" id="name" placeholder="nick name" required autofocus>
    message:<input type="text" id="message" required>
    <input type="submit" value="send" >
  </form>
  <hr/>
  <div id="chatlog">
    <% if(data) {
           data.forEach(function(data) { 
             var msgColor = "black";
             if(data.name=="SYSTEM"){
                msgColor = "blue";
             }%>
           <p>
              <div class="name" style="color:<%=msgColor%>"><%=data.name %></div>
              <div class="message" style="color:<%=msgColor%>"><%=data.message %></div>
              <div class="date"><%=data.date %></div>
           </p>
    <%     });
      } %>
  </div>
</div>